DATABASE_URL="postgresql://elineas:elineas@localhost:5434/elineas_control_asistencia"
BETTER_AUTH_URL=http://localhost:3001
# Generate a secret key: `bunx --bun @better-auth/cli secret`
BETTER_AUTH_SECRET=
FRONTEND_URL=http://localhost:3004
PORT=3001
