DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`
FRONTEND_URL=http://localhost:3000
PORT=3001
